body {
    margin: 0;
    background-color: #FFF;
}

#section {
    margin: 0 auto;
}

#controls {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 470px 15px 0;
    padding: 8px;
    border: 1px solid cyan;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
}

#controls h1 {
	font-size: 18px;
}

#controls p {
	font-size: 11px;
}

#asteroid-canvas {
    position: absolute;
    border: 1px cyan solid;
}

#footer {
    color: #000;
    margin-top: 680px;
}