* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #161616;
    min-height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
}

/* navbar styles */
nav {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1f1f1f;
    padding: 0.3em;
    text-align: center;
    word-spacing: 0.8em;
}

nav a {
    cursor: pointer;
    border-bottom: 6px solid magenta;
    text-transform: uppercase;
}

nav a:hover {
    cursor: pointer;
    border-bottom: 6px solid yellow;
}

nav a:active {
    cursor: pointer;
    border-bottom: 6px solid cyan;
}

nav a:visited {
    cursor: pointer;
    border-bottom: 6px solid cyan;
}

/*addet width height for game-container div*/
#game-container {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#asteroid-canvas {
    border: 3px cyan solid;
    position: relative;
    top: 0;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    /*background-color: transparent;
    background-image: url("assets/images/galaxy_image.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;*/

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

section {
    margin: 0 auto;
}

/* about styles */
#about {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid cyan;
    padding: 2em;
}

#about h1 {
    font-size: 2.2em;
    text-align: center;
}

#about p {
    text-align: justify;
    line-height: 2em;
}

#about a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 3px solid magenta;
}

/* game instructions styles */
.agesFor {
    color: cyan;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .5em;
}

#how-to {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 0.5em;
    border: 3px solid cyan;
    background: rgba(0, 0, 0, 0.6);
}

#how-to h1 {
    color: magenta;
    margin-bottom: .4em;
    text-align: center;
    font-size: 1.3em;
}

#how-to a {
    font-size: 1.125em;
    border-bottom: 6px solid magenta;
    text-transform: uppercase;
}

#how-to a:hover {
    border-bottom: 6px solid yellow;
}

#how-to a:active {
    border-bottom: 6px solid cyan;
}

#how-to p {
    line-height: 1.5em;
    text-align: center;
    font-size: 0.9em;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    /*https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices*/
    .disable-dbl-tap-zoom {
        touch-action: none;
    }

    #how-to {
        color: #FFF;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 100%;
        left: 0%;
        right: 0;
        top: 22%;
        padding: 1em;
        border: 3px solid cyan;
        background: rgba(0, 0, 0, 0.6);
    }
}

@media only screen and (max-width: 1366px) {
    /*https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices*/
    .disable-dbl-tap-zoom {
        touch-action: none;
    }

    /* keys for mobile input */
    .keys {
        position: absolute;
        bottom: 8%;
        left: 46%;
        text-align: center;
        /* font-size: 10px; */
        width: 20em;
        margin-left: -8.7em;
    }

    .keys:hover .key {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .keys .key {
        margin: 0 0.4em;
        display: inline-block;
        line-height: 2.5em;
        width: 5em;
        border-radius: 0.6em;
        background-color: rgba(255, 255, 255, 0.15);
    }

    .keys .key.up {
        margin: 0 5em 0.8em;
    }

    .keys .key:hover,
    .keys .key.is-down {
        background-color: rgba(39, 212, 156, 0.7);
        color: white;
    }

}

.fas {
    pointer-events: none;
}