* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    display: grid;
}

/* navbar styles */
nav {
    border: 1px solid cyan;
    text-align: center;
}

nav a {
    cursor: pointer;
}

/* game container and asteroid canvas styles */
#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#asteroid-canvas {
    border: 1px cyan solid;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: -1;
}

section {
    margin: 0 auto;
}

/* game controls styles */
#controls {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 29.688em 9.8em 0;
    padding: 0.5em;
    border: 1px solid cyan;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
}

#controls h1 {
	font-size: 1.125em;
}

#controls p {
	font-size: 0.668em;
}

/* footer styles */
footer {
    background-color: #292828;
    color: cyan;
    border: 1px solid magenta;
    padding: 1em;
}

footer p {
    text-align: center;
}