* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #161616;
    min-height: 100%;
    width: 100%;
    display: grid;
}

/* Gameplay Instructions */
#instrustions {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 36em 2.18em;*/
	padding: 8px;
	background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
	z-index: 1;
}

#instrustions h1 {
	font-size: 18px;
}

#instrustions p {
	font-size: 11px;
}

/* navbar styles */
nav {
    color: white;
    background-color: #1f1f1f;
    padding: 0.3em;
    text-align: center;
    word-spacing: 0.8em;
}

nav a {
    cursor: pointer;
    border-bottom: 6px solid magenta;
    text-transform: uppercase;
}

nav a:hover {
    cursor: pointer;
    border-bottom: 6px solid yellow;
}

nav a:active {
    cursor: pointer;
    border-bottom: 6px solid cyan;
}

nav a:visited {
    cursor: pointer;
    border-bottom: 6px solid cyan;
}
/*addet width height for game-container div*/
#game-container{
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
}
/*addet background image for canvas*/
#asteroid-canvas {
    border: 3px cyan solid;
    position: relative;
    top: 0;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
 
    /*background-color: transparent;
    background-image: url("assets/images/galaxy_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/

    width: 100%;
    height: 100%;

    z-index: -1;
}

section {
    margin: 0 auto;
}

/* game controls styles */
#how-to {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    padding: 0.5em;
    border: 3px solid cyan;
	background: rgba(0, 0, 0, 0.6);
}

#how-to h1 {
    color: magenta;
    text-align: center;
	font-size: 1.125em;
}

#how-to a {
    cursor: pointer;
    font-size: 1.125em;
    border-bottom: 6px solid magenta;
    text-transform: uppercase;
}

#how-to p {
    text-align: center;
	font-size: 0.9em;
}