body {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/* game container and asteroid canvas - start */
#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
}

#asteroid-canvas {
    border: 1px cyan solid;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: -1;
}
/* game container and asteroid canvas - end */

section {
    margin: 0 auto;
}

/* game controls - start */
#controls {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 29.688em 2.3em 0;
    padding: 0.5em;
    border: 1px solid cyan;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
}

#controls h1 {
	font-size: 1.125em;
}

#controls p {
	font-size: 0.668em;
}
/* game controls - end */

/* footer styles */
footer {
    background-color: #292828;
    color: cyan;
    border: 1px solid magenta;
    padding: 1em;
}

footer p {
    text-align: center;
}